WAITO_TIME_ZONE=Asia/Seoul

WAITO_API_HOST=host.docker.internal
WAITO_API_PORT=8080
WAITO_DOCKER_SOCKET=/var/run/docker.sock

WAITO_MYSQL_HOST=localhost
WAITO_MYSQL_PORT=3306
WAITO_MYSQL_DATABASE=waito
WAITO_MYSQL_USERNAME=root
WAITO_MYSQL_PASSWORD=12345678**

WAITO_REDIS_HOST=localhost
WAITO_REDIS_PORT=6379

WAITO_KAFKA_EXTERNAL_HOST=localhost
WAITO_KAFKA_1_PORT=19092
WAITO_KAFKA_2_PORT=29092
WAITO_KAFKA_3_PORT=39092
WAITO_KAFKA_BOOTSTRAP_SERVERS=localhost:19092,localhost:29092,localhost:39092

WAITO_JWT_PRIVATE_KEY=waito-local-development-jwt-private-key-change-me
WAITO_DOCKER_SOCKET=/var/run/docker.sock
